.master {
    background: #8ba7a9;
    padding: 0px 50px;
}

.master-wrapper {
    max-width: 1200px;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.login-hero {
    display: flex;
    justify-content: center;
    height: fit-content;
    width: 100%;
    height: 100%;
}

.login-container {
    width: 60%;
    height: 70vh;
    margin-top: 30px;
    border-radius: 20px;
    overflow: hidden;
    background: white;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 70px;
}

.left-login {
    width: 40%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #197278;
}

.login-desc-name {
    font-size: 30px;
    color: white;
    padding-bottom: 20px;
    text-align: center;
}

.login-desc-text {
    font-size: 20px;
    color: white;
    padding-bottom: 30px;
    text-align: center;
}

.go-to-signup {
    padding: 15px 30px;
    background: transparent;
    border: solid 2px white;
    border-radius: 100px;
    font-size: large;
    font-weight: bold;
    color: #333333;
    background: white;
    cursor: pointer;
}

.go-to-signup:hover {
    background: transparent;
    color: white;
}

.right-login {
    width: 60%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #c5dadb;
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-name {
    font-size: xx-large;
    color: #333333;
    padding-bottom: 30px;
}

.login-inputs {
    border: none;
    outline: none;
    background: white;
    width: 100%;
    margin-bottom: 10px;
    font-weight: 500;
    padding: 15px 20px;
    border-radius: 5px;
}

.forget {
    color: #333333;
    padding: 20px 0px 30px 0px;
    font-weight: 300;
}

.get-in {
    padding: 15px 30px;
    background: transparent;
    border: solid 2px #197278;
    border-radius: 100px;
    font-size: large;
    font-weight: bold;
    color: white;
    background: #197278;
    cursor: pointer;
    margin-bottom: 20px;
}

.get-in:hover {
    background: #333333;
    border: 2px solid #333333;
}

.go-to-admin-signup {
    text-decoration: underline #333333;
    color: #333333;
    font-weight: 600;
}