@model NewNew.Models.AddBookCopyViewModel

<h1 class="m-5"> Add BookCopy</h1>
<form method="post" action="Add">


    <table class="table table-bordered">
        <tr>
            <th>Book CopyId </th>
            <td><input type="text" asp-for="bookCopyId" class="form-control" /></td>
        </tr>
        <tr>
            <th>Year Of Published </th>
            <td><input type="date" asp-for="yearOfPublished" class="form-control" /></td>
        </tr>


        <tr>
            <th>Publisher Id</th>
            <td>


                <select asp-for="PublisherId" asp-items="Model.Publishers" class="form-control"></select>


            </td>
        </tr>
        
        <tr>
            <th>List Of Book</th>
            <td>


                <select asp-for="bookId" asp-items="Model.Books" class="form-control"></select>

                
            </td>
        </tr>
      
          <tr>
            <td colspan="2">
                <input type="submit" class="btn btn-primary" value="Submit" />
            </td>
        </tr>
    </table>


</form>



