@model NewNew.Models.AddBookAuthorViewModel

<h1 class="m-5"> Add Book Author </h1>
<form method="post" action="Add">


    <table class="table table-bordered">
        
        <tr>
            <th>Author Id</th>
           
        </tr>
       <tr>
        <td colspan="2">
            <input type="submit" class="btn btn-primary" value="Submit" />
        </td>
        </tr>
    </table>


</form>



