@model NewNew.Models.UpdateBookBorrowViewModel


<h1>View BookBorrow</h1>

<div class="card mb-4 mt-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Edit Books
        <a href="@Url.Action("BorrowBookIndex", "HomeMember")" class="float-end btn btn-sm btn-success">View All</a>

    </div>

    <div class="card-body">

        <form method="post" action="View" class="mt-5">
            <table class="table table-bordered">
                <tr>
                    <th> Borrow BookId</th>
                    <td>
                        <input type="text" class="form-control" asp-for="borrowBookId" readonly />
                    </td>
                </tr>
                <tr>
                    <th>Borrow Book Date</th>
                    <td>
                        <input type="text" class="form-control" asp-for="borrowBookDate" readonly />
                    </td>
                </tr>

                <tr>
                    <th>Borrow Book DueDate</th>
                    <td>
                        <input type="text" class="form-control" asp-for="borrowDueDate" readonly />
                    </td>
                </tr>


                <tr>
                    <th>Is Returned?</th>
                    <td>
                        <input type="text" class="form-control" asp-for="isReturned" readonly />

                    </td>
                </tr>



                <tr>
                    <th>Book Copy Name</th>
                    <td>
                        <input type="text" class="form-control" asp-for="bookCopyId" readonly />
                    </td>
                </tr>

                <tr>
                    <th>Member Name</th>
                    <td>
                        <input type="text" class="form-control" asp-for="memberId" readonly />
                    </td>
                </tr>


                <tr>
                    <td colspan="2">
                        <input type="submit" class="btn btn-primary" value="View All" />
                       
                    </td>

                </tr>

            </table>
        </form>

    </div>
</div>
















