@model NewNew.Models.UpdateFinePaymentViewModel


<h1>Edit FinePayment</h1>

<div class="card mb-4 mt-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Edit Books
        <a href="@Url.Action("Index", "FinePayment")" class="float-end btn btn-sm btn-success">View All</a>

    </div>

    <div class="card-body">

        <form method="post" action="View" class="mt-5">
            <table class="table table-bordered">
                <tr>
                    <th>FinePayment Id</th>
                    <td>
                        <input type="text" class="form-control" asp-for="finePaymentId" reedonly />
                    </td>
                </tr>
                <tr>
                    <th>Fine Payment Amount</th>
                    <td>
                        <input type="text" class="form-control" asp-for="finePaymentAmount" reedonly />
                    </td>
                </tr>

                <tr>
                    <th>Member Id</th>
                    <td>
                        <input type="text" class="form-control" asp-for="memberId" reedonly />
                    </td>
                </tr>


                <tr>
                    <th>Fine Id</th>
                    <td>
                        <input type="text" class="form-control" asp-for="FineId" reedonly />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" class="btn btn-primary" value="Submit" />
                       
                    </td>

                </tr>

            </table>
        </form>

    </div>
</div>















